* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}


.price-table {
    background-color: #141b1c;
    display: flex;
    justify-content: center;
}

.price-card {
    width: 380px;
    height: 770px;
    background-color: #334247;
    margin: 115px 0 115px 0;
    padding-top: 33px;

    &__title {
        font-size: 35px;
        line-height: 43px;
        font-weight: 700;
        text-align: center;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 33px;
    }

    &__money-block {
        width: 380px;
        height: 105px;
        background-color: #5BB189;
        margin-bottom: 40px;
    }

    &__number {
        font-weight: 700;
        font-size: 55px;
        line-height: 102px;
        text-align: center;
    }

    &__description {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        width: 332px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    &__on-list {
        height: 50px;
        line-height: 50px;
    }

    &__on-list:nth-child(odd) {
        background-color: rgba(42, 52, 56, 0.5);
    }

    &__img {
        margin-left: 22px;
        margin-right: 22px;
    }

    &__order-btn {
        width: 155px;
        height: 40px;
        background-color: #5BB189;
        border-radius: 20px;
        border:  none;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        display: block;
        margin: 40px auto 0 auto;
    }
}



/////////////////Second__block////////////////////
.price-card:nth-child(3n-1) {
    margin-left: 18px;
    margin-right: 18px;
    position: relative;
}

.price-card:nth-child(3n-1) > .price-card__money-block {
    background-color: #3A6BA5;
}

.price-card:nth-child(3n-1) > .price-card__order-btn {
    background-color: #3A6BA5;
}
//////////////////////////////////////////////////

//////////////////////Third__block/////////////////
.price-card:nth-child(3n) > .price-card__money-block {
    background-color: #EC632A;
}

.price-card:nth-child(3n) > .price-card__order-btn {
    background-color: #EC632A;
}
//////////////////////////////////////////////////


.popular {
    position: absolute;
    left: 262px;
    top: 27px;
    height: 0px;
    width: 145px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    transform: rotate(42deg);
    border-bottom: 25px solid #DC3F45;
    border-left: 28px solid transparent;
    border-right: 22px solid transparent;
}